services:
  worker1:
    build: .
    command: python -m worker --rank 0 --world_size 2 call tasks.party:main 
    environment:
      - RENDEZVOUS=env://
      - MASTER_ADDR=worker1
      - MASTER_PORT=29500
      - WORLD_SIZE=2
      - RANK=0
      - LOGLEVEL=INFO
      - PYTHONUNBUFFERED=1
      - TORCH_DISTRIBUTED_DEBUG=DETAIL
    volumes:
      - ./data/party0:/app/data/party0
      - ./shared:/app/shared
      - ./config.py:/app/config.py

  worker2:
    build: .
    command: python -m worker --rank 1 --world_size 2 call tasks.party:main
    environment:
      - RENDEZVOUS=env://
      - MASTER_ADDR=worker1
      - MASTER_PORT=29500
      - WORLD_SIZE=2
      - RANK=1
      - LOGLEVEL=INFO
      - PYTHONUNBUFFERED=1
      - TORCH_DISTRIBUTED_DEBUG=DETAIL
    volumes:
      - ./data/party1:/app/data/party1
      - ./shared:/app/shared
      - ./config.py:/app/config.py

networks:
  default:
    driver: bridge